html {
	overflow-y: scroll;
}

a:link {
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    right: 0;
}


.opening {
	min-height: 100%;
	min width: 100%;

	height: auto;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;

	background-color: grey;
}

.open-para {
    width: 200px;
}

#sid-pic {
    height: 150px;
    width: 150px;
    border: 6px solid black;
    border-radius: 50%;
}
