html {
	overflow-y: scroll;
}

a:link {
    padding-left: 22px;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.nav-underline {
    height: 3px;
    width: 57px;
    position: absolute;
    top: 65px;
    left: 23px;
    background: linear-gradient(to top, #F46B45 0%, #EEA849 100%);
}

.nav {
    padding-top: 40px;
    padding-right: 20px;
    position: absolute;
    left: 1125px;

    font-family: Montserrat;
    font-weight: medium;
    font-size: 19px;
}


.background {
	height: 1880px; /*-141px AND includes project section so doubled 940*/
    width: 1903px;

	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;

	background-color: #000000;
    opacity: 0.03;

}

.rectangle1 {
    height: 6px;
    width: 150px;
    position: absolute;
    top: 720px;
    left: 1320px;
    z-index: 1;

    border-radius: 40px;
    background: linear-gradient(to top, #F46B45 0%, #EEA849 100%);
}

.rectangle2 {
    height: 6px;
    width: 310px;
    position: absolute;
    top: 785px;
    left: 1050px;
    z-index: 1;

    border-radius: 40px;
    background: linear-gradient(to top, #F46B45 0%, #EEA849 100%);
}

.rectangle3 {
    height: 6px;
    width: 550px;
    position: absolute;
    top: 820px;
    left: 1190px;
    z-index: 1;

    border-radius: 40px;
    background: linear-gradient(to top, #F46B45 0%, #EEA849 100%);
}

.rectangle4 {
    height: 4px;
    width: 115px;
    position: absolute;
    top: 1220px;
    left: 409px;

    border-radius: 40px;
    background: #EEA849;
}

.rectangle5 {
    height: 4px;
    width: 65px;
    position: absolute;
    top: 1610px;
    left: 408px;

    border-radius: 40px;
    background: #EEA849;
}

.rectangle6 {
    height: 4px;
    width: 65px;
    position: absolute;
    top: 1610px;
    left: 1000px;

    border-radius: 40px;
    background: #EEA849;
}

.open-para {
    font-family: Montserrat;
    color: black;
    font-size: 21px;
    line-height: 30px;

    height: 64px;

    width: 723px;
    position: absolute;
    top: 325px;
    left: 805px;
}

.p-title {
    font-family: Montserrat;
    font-weight: medium;
    font-size: 44px;

    position: absolute;
    top: 1100px;
    left: 406px;
}

.date-cig {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;

    position: absolute;
    top: 1610px;
    left: 408px;
}

.para-cig {
    font-family: Roboto;
    font-weight: medium;
    font-size: 14px;
    line-height: 19px;

    width: 540px;
    position: absolute;
    top: 1650px;
    left: 408px;
}

.date-waterloo {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;

    position: absolute;
    top: 1610px;
    left: 1000px;
}

.para-waterloo {
    font-family: Roboto;
    font-weight: medium;
    font-size: 14px;
    line-height: 19px;

    width: 535px;
    position: absolute;
    top: 1650px;
    left: 1000px;
}

#sid-pic {
    height: 289px;
    width: 289px;
    position: absolute;
    top: 269px;
    left: 406px;

    border-radius: 50%;
    padding: 6px;
    background-image: linear-gradient(to bottom, #F46B45 0%, #EEA849 100%);
}

#skyline {
    height: 383px;
    width: 1198px;
    position: absolute;
    top: 555px;
    left: 700px;
    z-index: 0;
}

#arrow {

    position: absolute;
    top: 800px;
    left: 407px;
}

#cigcycle {
    height: 306px;
    width: 545px;
    position: absolute;
    top: 1300px;
    left: 400px;
}

#waterloo {
    height: 306px;
    width: 545px;
    position: absolute;
    top: 1300px;
    left: 992px;
}

#Projects {
    background: linear-gradient(to top, #F46B45 0%, #EEA849 100%);
    border: none;
    border-radius: 40px;

    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 19px;

    height: 50px;
    width: 160px;
    position: absolute;
    top: 440px;
    left: 800px;
}

#Resume {
    background-color: transparent;
    border: 4px solid #F08C47;
    border-radius: 40px;

    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 19px;
    color: #F08D47;

    height: 50px;
    width: 160px;
    position: absolute;
    top: 440px;
    left: 976px;
}
